<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ listed_job.title }} - CareerBuzz</title>
    {% include "bootstrap.html" %}
</head>
<body>
    {% include "nav.html" %}
    {% include "banner.html" %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">CareerBuzz</h1>
        <h3 class="mb-2">{{ listed_job.title }}</h3>
        <p class="lead mt-0">{{ listed_job.location }}</p>
        <h4>Salary</h4>
        <p>{{ listed_job.currency }} {{ listed_job.salary }}</p>
        <h4>Responsibility</h4>
        <ul>
            {% for line in listed_job.responsibilities.split("\n") %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
        <h4>Requirements</h4>
        <ol>
            {% for line in listed_job.Requiremrnts.split("\n") %}
            <li>{{ line }}</li>
            {% endfor %}
        </ol>
        <br>
        {% include "application_form.html" %}
    </div>

    {% include "footer.html" %}
</body>
</html>