<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ listed_job.title }} - CareerBuzz</title>
    {% include "bootstrap.html" %}
</head>
<body>
    {% include "nav.html" %}
    {% include "banner.html" %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">CareerBuzz</h1>
        <h3>Title</h3>
        <p>{{ listed_job.title }}</p>
        <h3>Location</h3>
        <p>{{ listed_job.location }}</p>
        <h3>Salary</h3>
        <p>{{ listed_job.currency }} {{ listed_job.salary }}</p>
        <h3>Responsibility</h3>
        <p>{{ listed_job.responsibilities }}</p>
        <h3>Requirements</h3>
        <p>{{ listed_job.Requiremrnts }}</p>
    </div>

    {% include "footer.html" %}
</body>
</html>